<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/Cleaning%20String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cleaning String Quiz-15

In [214]:
import numpy as np #a matrix like package for handling data
import pandas as pd #a R like package for handling data
from scipy import stats #a way to just get a piece of a large package
import matplotlib.pyplot as plt #a way to generate plots, histograms, bar charts, and other types of charts 
import seaborn as sns #it is based on matplotlib
import requests #HTTP library
import pandas as pd # used to manipulate data and analyze it
from bs4 import BeautifulSoup #Used for a web scraping purposes to pull the data out of HTML and XML files

Libraries Imported.

In [215]:
import requests
import pandas as pa
from bs4 import BeautifulSoup
import re


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

I chose this table because i think we need to lot of cleaning.

In [216]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [217]:
cols = df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
cols

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [218]:
re.sub(r"\((.+)\)","",cols[1])

'Mountain name'

In [219]:
re.sub(r"\((.+)\)","",cols[12])

'Country '

In [220]:
cols = cols.map(lambda s: re.sub(r"\((.+)\)","",s))
cols

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

In [221]:
re.sub(r" ","_",cols[1])

'Mountain_name'

In [222]:
cols.map(lambda s: re.sub(r" ","_",s))

Index(['Rank', 'Mountain_name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent_mountain', '1st', 'y', 'n', 'Country_'],
      dtype='object')

In [223]:
cols.map(lambda s: s.lower())

Index(['rank', 'mountain name', 'm', 'ft', 'm', 'ft', 'range', 'coordinates',
       'parent mountain', '1st', 'y', 'n', 'country '],
      dtype='object')

In [233]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

In [244]:
df= df1.iloc[:,-1].str.replace('\[(.+)\]','')

print(df)

0       NepalChina
1         Pakistan
2       NepalIndia
3       NepalChina
4       NepalChina
          ...
115          China
116     NepalChina
117    BhutanChina
118     IndiaChina
119       Pakistan
Name: Country (disputed claims in italics, Length: 120, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

*Str* function is really cool. I tries to use apply function but it was giving me error saying we string object. That is why I have applied *str.replace*.