<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/QUIZ_6_SQL_JOINS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quiz 6. SQL JOINS

In [202]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [203]:
%%bigquery --project data-base-1-338717
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`

     station_id  ...             modified_date
0          3464  ... 2021-01-04 12:00:00+00:00
1          2500  ... 2021-01-04 12:00:00+00:00
2          2536  ... 2021-01-04 12:00:00+00:00
3          2538  ... 2021-01-04 12:00:00+00:00
4          2541  ... 2021-01-04 12:00:00+00:00
..          ...  ...                       ...
96         4048  ... 2021-01-04 12:00:00+00:00
97         3377  ... 2021-01-04 12:00:00+00:00
98         3794  ... 2021-01-04 12:00:00+00:00
99         3795  ... 2021-01-04 12:00:00+00:00
100        3797  ... 2021-01-04 12:00:00+00:00

[101 rows x 14 columns]

In [204]:
%%bigquery --project data-base-1-338717

SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'parkland'

   station_id  ...             modified_date
0        3687  ... 2021-01-04 12:00:00+00:00
1        3684  ... 2021-01-04 12:00:00+00:00
2        2572  ... 2021-01-04 12:00:00+00:00
3        2575  ... 2021-01-04 12:00:00+00:00
4        2574  ... 2021-01-04 12:00:00+00:00
5        2707  ... 2021-01-04 12:00:00+00:00

[6 rows x 14 columns]

I will arrange data as a sidewalk to see how they are. I tried to combine and put them in a same table but I could not figure it out.

In [205]:
%%bigquery --project data-base-1-338717

SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'sidewalk' 
LIMIT 10

   station_id  ...             modified_date
0        1111  ... 2021-11-04 02:12:00+00:00
1          11  ... 2021-11-04 02:24:00+00:00
2        4699  ... 2021-07-27 08:25:00+00:00
3        2570  ... 2021-01-04 12:00:00+00:00
4        2496  ... 2021-01-04 12:00:00+00:00
5        3294  ... 2021-01-04 12:00:00+00:00
6        2497  ... 2021-01-04 12:00:00+00:00
7        4047  ... 2021-01-04 12:00:00+00:00
8        2503  ... 2021-01-04 12:00:00+00:00
9        2711  ... 2021-01-04 12:00:00+00:00

[10 rows x 14 columns]

However, I have used JOIN to combine two data for parkland and sidewalk.

In [206]:
%%bigquery --project data-base-1-338717
WITH t as(
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type= 'parkland')

SELECT *
FROM t as table1  JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table2 ON table1.name= table2.start_station_name
limit 20

    station_id  ... duration_minutes
0         2572  ...               27
1         2572  ...               13
2         2572  ...               21
3         2572  ...               22
4         2572  ...               24
5         2572  ...               48
6         2572  ...               24
7         2572  ...               25
8         2572  ...               24
9         2572  ...               49
10        2572  ...               36
11        2572  ...               24
12        2572  ...               26
13        2572  ...               25
14        2572  ...               25
15        2572  ...               10
16        2572  ...               10
17        2572  ...               45
18        2572  ...               47
19        2572  ...               46

[20 rows x 23 columns]

In [207]:
%%bigquery --project data-base-1-338717
WITH t as(
SELECT * 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`)


SELECT *
FROM t as table1 LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table2 ON table1.name= table2.start_station_name
WHERE table1.property_type='sidewalk' OR table1.property_type='parkland'
limit 100

    station_id  ... duration_minutes
0         3291  ...               20
1         3291  ...               35
2         3291  ...               19
3         3291  ...                7
4         3291  ...                8
..         ...  ...              ...
95        3291  ...               14
96        3291  ...                5
97        3291  ...             1130
98        3291  ...                0
99        3291  ...                0

[100 rows x 23 columns]

In [208]:
%%bigquery --project data-base-1-338717
WITH t as(
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`)

SELECT *
FROM t as table1 RIGHT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table2 ON table1.name= table2.start_station_name
limit 100

    station_id  ... duration_minutes
0         1006  ...               39
1         2712  ...               31
2         2712  ...               31
3         2712  ...               30
4         2541  ...               19
..         ...  ...              ...
95        1008  ...               11
96        2576  ...               23
97        1006  ...               18
98        1007  ...               17
99        3294  ...               17

[100 rows x 23 columns]

I do not see any difference here even though I tried to print 100 data.